<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/csslogin.css">
    <link rel="shortcut icon" href="https://media-exp1.licdn.com/dms/image/C4E0BAQHilb0nYJ8IIQ/company-logo_200_200/0/1519864677411?e=2159024400&v=beta&t=r6ff3Isc9qJQ_DHY-7cWKOyKFQD_439FY8XmoyWahGE" type="image/x-icon">
    <title>Inicia sesion</title>
</head>
    <body>
        <header>
            <a href="/">Menu principal</a>
        </header>
        <div class="login-box">
            <h1>Login Here</h1>
    
            <form action="/consulta" method="POST" autocomplete="off">
                <label for="Username">Username</label>
                <input type="text" name="usuario" id="usuario" placeholder="Enter Username">
                <!--Password-->
                <label for="Password">Password</label>
                <input type="password" name="password" id="password" placeholder="Insert Password">
    
                <input type="submit" value="Log In">
    
            </form>
        </div>
</body>
</html>